${ include('_partials/htmlhead.html') }
${ include('_partials/header2.html') }
${ include('_partials/title.html') }

<main class="vl-sidebar-area sp2">
  <div class="container">
    <div class="row">
      <div class="col-xl-8 mx-auto">
        <div class="vl-event-content-area">

          ${ data.content }

        </div>
      </div>
    </div>
  </div>
</main>

${ include('_partials/mission.html') }
${ include('_partials/statistics.html') }

${ include('_partials/footer.html') }
${ include('_partials/htmlfoot.html') }
