${ include('_partials/htmlhead.html') }
${ include('_partials/header2.html') }
${ include('_partials/title.html') }

<main class="vl-sidebar-area sp2">
  <div class="container">
    <div class="row">
      <div class="col-xl-8 mx-auto">
        <div class="vl-event-content-area">

          ${ data?.pagination &&
            `<h1>${ data.title }${ data.pagination.pageTotal > 1 ? `, page ${ tacs.fn.format.number( data.pagination.pageCurrent1 ) } of ${ tacs.fn.format.number( data.pagination.pageTotal ) }` : ''}</h1>`
          }

          ${ data.content }

          ${ include('_partials/list.html') }

        </div>
      </div>
    </div>
  </div>
</main>

${ include('_partials/footer.html') }

${ include('_partials/htmlfoot.html') }
