<!--===== CTA AREA STARTS =======-->
<section class="vl-cta3">
  <div class="container gx-0">
    <div class="cta-bg">
      <div class="shap"><img src="--ROOT--assets/img/icons/vl-cta-shap-arow.svg" alt=""></div>
      <div class="row align-items-center">
        <div class="col-xl-6">
          <div class="vl-cta-content3 mb-30">
            <h3 class="title text-anime-style-3">Explore The Vywamus<br class="d-none d-xl-block">Foundation Community</h3>
            <p class="para" data-aos="zoom-in-up" data-aos-duration="1000" data-aos-delay="300">We attempt to evolve our consciousness in our individual life
              <br class="d-none d-xl-block"> while coming together in group consciousness and community.</p>
            <div class="cta-btn">
              <a href="--ROOT--repository/" class="cta-btn1">Repository</a>
              <a href="--ROOT--#contact" class="cta-btn2">Contact</a>
            </div>
          </div>
        </div>
        <div class="col-xl-6">
          <div class="cta-thmb3 mb-30 reveal">
            <img src="--ROOT--assets/img/cta/vl-cta-thumb-3.1a.jpg" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--===== CTA AREA ENDS =======-->
