<!--===== FAQ AREA STARTS =======-->
<section id="faq" class="vl-faq3 sp2">
  <div class="container">
    <div class="row">
      <div class="col-xl-7 mx-auto">
        <div class="vl-section-title3 mb-60 text-center">
          <h4 class="subtitle" data-aos="fade-up" data-aos-duration="800" data-aos-delay="300">FAQ Question</h4>
          <h2 class="title text-anime-style-3">Frequently Asked Question</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-10 mx-auto">
        <div class="vl-accordion3">
          <div class="accordion" id="accordionExample">
            <!-- accordion-item -->
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                  Who is Vywamus?  <span><img src="--ROOT--assets/img/icons/vl-arrow-faq-up.svg" alt=""></span>
                </button>
              </h2>
              <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <p>
                    Vywamus is a spiritual teacher who currently interacts with humanity through the tool of conscious channeling.
                    His focus is one of practical transformation, meaning that his approach is concerned with everyday practical
                    issues as well as with the more "spiritual" concerns of soul evolution. He is a specialist in dealing
                    with the transmutation of denial and the shadow side of self, as well as the integration of
                    different aspects of self. He works through a number of different channels around the world.
                  </p>
                </div>
              </div>
            </div>
            <!-- accordion-item -->
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  What is channeling?<span><img src="--ROOT--assets/img/icons/vl-arrow-faq-up.svg" alt=""></span>
                </button>
              </h2>
              <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <p>
                  Channeling is the phenomenon in which communication - be it verbal, visual, intuitive,
                  physical or emotional - between the different energetic dimensions is conveyed from one dimension to another.
                  Some forms of channeling include trance, conscious, intuitive, inspirational, prayer and energetic.
                  Channeling has been around as long as humanity has communicated with itself.
                  Everyone has the ability to channel and does so regardless of whether they are aware if it,
                  "believe" in it, or not. The results of channeling appear throughout our physical world.
                  We see it in medicine, science, art, religion, relationship, teaching, finance, etc..
                  Humanity is and has always been in communication with other realms of creation/self,
                  but sometimes has a very difficult time acknowledging that fact.
                  </p>
                </div>
              </div>
            </div>
            <!-- accordion-item -->
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  What is conscious channeling?   <span><img src="--ROOT--assets/img/icons/vl-arrow-faq-up.svg" alt=""></span>
                </button>
              </h2>
              <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <p>
                  The type of channeling that Vywamus utilizes is what we call "conscious channeling".
                  This channeling involves a human being who is willing to co-create with Vywamus as a teacher and stay
                  conscious for the experience. Some Vywamus channels have been specifically trained in certain areas
                  and developed their channeling abilities over lifetimes, while others are new to the experience.
                  The experience of conscious channeling brings to the channel numerous opportunities for personal growth,
                  and transformation of their denial and areas of stuckness.
                  </p>
                </div>
              </div>
            </div>
            <!-- accordion-item -->
            <div class="accordion-item">
              <h2 class="accordion-header" id="heading4">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
                  Why does Vywamus use "conscious channels" in his work?   <span><img src="--ROOT--assets/img/icons/vl-arrow-faq-up.svg" alt=""></span>
                </button>
              </h2>
              <div id="collapse4" class="accordion-collapse collapse" aria-labelledby="heading4" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <p>
                  Conscious channels are used primarily to give everyone participating with Vywamus,
                  including the channel, an opportunity to learn and grow without the distraction of the physical
                  presence of the teacher, and the psychological "transference" which is common in such situations.
                  Conscious channeling embraces the "human element" that many spiritual seekers tend to avoid,
                  ignore and at times try to eliminate, thinking that the human element should not be present in
                  spiritual development and evolution. Yet it is the reception of the "human" element within us
                  that allows Spirit to evolve. Working within the channeling focus also allows Vywamus to communicate
                  simultaneously through numerous channels around the world, fully utilizing each channel's
                  talents to create the desired transformational opportunity of the moment. His "personality",
                  wisdom, lovingness, and energy can be seen and experienced regardless of who is channeling him.
                  </p>
                </div>
              </div>
            </div>
            <!-- accordion-item -->
            <div class="accordion-item">
              <h2 class="accordion-header" id="heading5">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse5" aria-expanded="false" aria-controls="collapse4">
                  Who works with Vywamus? <span><img src="--ROOT--assets/img/icons/vl-arrow-faq-up.svg" alt=""></span>
                </button>
              </h2>
              <div id="collapse5" class="accordion-collapse collapse" aria-labelledby="heading5" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <p>
                    Many different types of people work with Vywamus. What each one has in common with the others
                    is that they are interested in creating change within themselves on a very deep level,
                    as well as in their lives and the world around them. This process of creating change
                    involves facing the "mirror of self" and dealing with aspects of self which have been
                    pushed away through a process of denial. While this may be difficult at times,
                    Vywamus always creates a very supportive and compassionate framework in which to do this work,
                    never forcing a birth of consciousness, yet always bringing awareness to points of
                    denial that you are creating within yourself, and the illusion of "story"
                    that is wrapped around the denial in order to hide the denial from your awareness.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--===== FAQ AREA ENDS =======-->
