  <!--===== HERO AREA STARTS =======-->
<div class="vl-banner-3-bg mt-24" style="background-image: url(./assets/img/banner/banner4.jpg);">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-8 gx-0">
        <div class="vl-section-heading3">
        <div class="banner3">
          <h4 class="subtitle" data-aos="zoom-in-up" data-aos-duration="1200" data-aos-delay="300">
            <span><img src="--ROOT--assets/img/icons/vl-heart-3.1.svg" alt=""></span> Focusing Our Intent</h4>
            <h1 class="heading-title text-anime-style-3" style="color: #3fb9d1;">Journey into the <br class="d-none d-lg-block">Alchemy of Consciousness</h1>
          </div>
          <div class="vl-btn3">
            <a href="--ROOT--#contact" class="primary-btn-3">explore our community</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--===== HERO AREA ENDS =======-->
