<!--===== Repository AREA STARTS =======-->
<section id="repository" class="vl-blog3 sp2">
  <div class="container">
    <div class="row">
      <div class="col-xl-7 mx-auto">
        <div class="vl-section-title3 mb-60 text-center">
          <h4 class="subtitle"  data-aos="fade-up" data-aos-duration="800" data-aos-delay="300">The Vywamus Foundation Repository</h4>
          <h2 class="title text-anime-style-3">Our archive of recordings, articles, and teachings</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-5 col-lg-6 gx-0">
        <!-- single blog start -->
        <div class="vl-single-blog-item mr-15 mb-30">
          <div class="vl-blog-thumb reveal">
            <img class="w-100" src="--ROOT--assets/img/cta/vl-cta-1.1b.jpg" alt="">
          </div>
          <div class="vl-blog-content">
            <div class="vl-meta-flex">
                <!-- single metabox start -->
                <div class="vl-blog-meta-flex">
                  <div class="icon">
                    <span><img src="--ROOT--assets/img/icons/vl-meta-ic-3.1.svg" alt=""></span>
                  </div>
                  <div class="text">
                    <a href="repository/2012/august03.html" class="title">03 August 2012</a>
                  </div>
                </div><!-- single metabox end -->

            </div>
            <div class="vl-content">
              <a href="repository/2012/august03.html" class="title">Unconscious Belief Patterns</a>
              <p class="para">
                In the metaphysical approach to beliefs, they are not considered to be unchanging,
                universal truths as they are so often believed to be in the mass consciousness.
                 Rather, beliefs are seen to be patterns of .....
	            </p>
              <a href="repository/2012/august03.html" class="readmore">Read More <span><i class="fa-solid fa-arrow-right"></i></span></a>
            </div>
          </div>
        </div> <!-- single blog end -->
      </div>

      <div class="col-xl-7 col-lg-6 gx-0">
        <!-- single blog start -->
        <div class="vl-single-blog-item ml-15 mb-30">
          <div class="vl-blog-thumb reveal">
            <img class="w-100" src="--ROOT--assets/img/cta/vl-cta-1.1a.jpg" alt="">
          </div>
          <div class="vl-blog-content">
            <div class="vl-meta-flex">
                <!-- single metabox start -->
                <div class="vl-blog-meta-flex">
                  <div class="icon">
                    <span><img src="--ROOT--assets/img/icons/vl-meta-ic-3.1.svg" alt=""></span>
                  </div>
                  <div class="text">
                    <a href="repository/2012/july17.html" class="title">17 July 2012</a>
                  </div>
                </div><!-- single metabox end -->
            </div>
            <div class="vl-content">
              <a href="repository/2012/july17.html" class="title">Introduction to Belief Patterns</a>
              <p class="para">
                Beliefs are patterns of thoughts and feelings, usually unconscious,
                which are potentially as changeable as the thoughts and feelings which compose them.
                Yet, they are usually not available to change due to the fact that they are
                held in a state of non-reception which is often referred to as "true."
              </p>
              <a href="repository/2012/july17.html" class="readmore">Read More <span><i class="fa-solid fa-arrow-right"></i></span></a>
            </div>
          </div>
        </div> <!-- single blog end -->
      </div>
    </div>
  </div>
</section>
<!--===== Repository AREA ENDS =======-->
