<!--===== TESTIMONIAL AREA STARTS =======-->
<div id="testimonial" class="testimonial3-section-area sp1 sp" style="background-image: url(./assets/img/testimonial/testimonial-thumb-bg-3.3s.jpg);">
  <div class="container">
    <div class="row">
      <div class="col-xl-6 m-auto text-center">
        <div class="heading2-w mb-60">
          <span class="span1 mb-16 inline-block text-18 leading-18 white font-normal mb-16" data-aos="fade-left" data-aos-duration="700">Testimonial</span>
          <h2 class="testimonial-heading3 text-anime-style-3">Taking Self Responsibility of Every Thought</h2>
        </div>
      </div>
    </div>

    <div class="row mt-60 sm:mt-30">
      <div class="col-xl-8 m-auto">
        <div class="testimonial-sliders text-center" data-aos="zoom-out" data-aos-duration="1000">
          <div class="testimonial-nav">
            <div class="single-testimonial-nav">
              <img src="--ROOT--assets/img/testimonial/vl-testimonial-thumb-3.1.png" alt="">
            </div>
            <div class="single-testimonial-nav">
              <img src="--ROOT--assets/img/testimonial/vl-testimonial-thumb-3.2.png" alt="">
            </div>
            <div class="single-testimonial-nav">
              <img src="--ROOT--assets/img/testimonial/vl-testimonial-thumb-3.3.png" alt="">
            </div>
            <div class="single-testimonial-nav">
              <img src="--ROOT--assets/img/testimonial/vl-testimonial-thumb-3.4.png" alt="">
            </div>
            <div class="single-testimonial-nav">
              <img src="--ROOT--assets/img/testimonial/vl-testimonial-thumb-3.5.png" alt="">
            </div>
            <div class="single-testimonial-nav">
              <img src="--ROOT--assets/img/testimonial/vl-testimonial-thumb-3.4.png" alt="">
            </div>

          </div>

          <div class="slider-testimonial">
            <div class="single-testimonial">
              <h5 class="para">
                "The pattern clearing classes have helped tremendously. I now have identified habit patterns on the unconscious level."
              </h5>
              <div class="author-area">
                <div class="heading pl-20">
                  <a href="#" class="title">Paul Doe</a>
                  <p class="desc">Montana</p>
                </div>
              </div>
            </div>

            <div class="single-testimonial">
              <h5 class="para">
                "The private sessions have helped tremendously. I now have identified habit patterns on the unconscious level."
              </h5>
              <div class="author-area">
                <div class="heading pl-20">
                  <a href="#" class="title">Josh Doe</a>
                  <p class="desc">Florida</p>
                </div>
              </div>
            </div>

            <div class="single-testimonial">
              <h5 class="para">
                "Thank you Vywamus for you have helped tremendously. I now have identified habit patterns on the unconscious level."
              </h5>
              <div class="author-area">
                <div class="heading pl-20">
                  <a href="team.html" class="title">Adam Doe</a>
                  <p class="desc">Germany</p>
                </div>
              </div>
            </div>

            <div class="single-testimonial">
              <h5 class="para">
                "The community has helped me a lot. I now have many connections."
              </h5>
                <div class="author-area">
                <div class="heading pl-20">
                  <a href="team.html" class="title">Leslie Doe</a>
                  <p class="desc">Washington</p>
                </div>
              </div>
            </div>
            <div class="single-testimonial">
              <h5 class="para">
                "Vywamus gets to the core of my patterns. Thank you."
              </h5>
              <div class="author-area">
                <div class="heading pl-20">
                  <a href="team.html" class="title">Sheldon Doe</a>
                  <p class="desc">Arizon</p>
                </div>
              </div>
            </div>
            <div class="single-testimonial">
              <h5 class="para">
                "The recordings are most helpful. Thank you Vywamus."
              </h5>
              <div class="author-area">
                <div class="heading pl-20">
                  <a href="team.html" class="title">John Doe</a>
                  <p class="desc">Maine</p>
                </div>
              </div>
            </div>
          </div>
          <div class="testimonial-arrows">
            <div class="testimonial-prev-arrow">
              <button><img src="--ROOT--assets/img/icons/vl-arrowright.svg" alt=""></button>
            </div>
            <div class="testimonial-next-arrow">
              <button><img src="--ROOT--assets/img/icons/vl-arrowleft.svg" alt=""></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--===== TESTIMONIAL AREA ENDS =======-->
