<!--===== TITLE AREA STARTS =======-->
<section class="vl-breadcrumb" style="background-image: url(/assets/img/${ data.hero });">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="vl-breadcrumb-title">
          <div class="vl-breadcrumb-list">

            ${ tacs.fn.nav.breadcrumb( data.link ) }

          </div>
          <h2 class="heading">${ data.title }</h2>
        </div>
      </div>
    </div>
  </div>
</section>
<!--===== TITLE AREA ENDS =======-->
